<div class="referral-note">
  <p><strong>Most of our clients come through referrals.</strong> No advertising, no cold outreach. Just people we have worked with recommending us to someone they trust. If you know anyone who could use a design partner, an introduction means more to us than any campaign.</p>
</div>
