---
interface Props {
  videoUrl: string | null;
}

const { videoUrl } = Astro.props;
---

<div class="team-video">
  <div class="section-label">A message from Carl &amp; Toby</div>
  <div class="video-wrapper">
    {videoUrl ? (
      <iframe
        src={`https://player.vimeo.com/video/${videoUrl}?badge=0&autopause=0`}
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
        title="A message from Carl and Toby"
      />
    ) : (
      <div class="video-placeholder">
        <div class="play-ring">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M6 4.5L13.5 9L6 13.5V4.5Z" fill="#A16BFF"/>
          </svg>
        </div>
        <div class="placeholder-names">Carl &amp; Toby</div>
        <div class="placeholder-sub">Message coming shortly</div>
      </div>
    )}
  </div>
</div>
